
body {
	background-color: white;
}


header {
	background-color: white;
	text-align: center;
	border: 1px dashed white;
}

header #logo {
	text-align: center;
}

header .logo img {
	height: 60px;
}


content{
	background-color: white;
}

.container{
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: orange;
}


li {
	float: left;
}

.head-item {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.head-item:hover:not(.active) {
	color: #636363;
	background-color: transparent;
}

.active {
	color: #111;
}

.article a:hover:not(.active) {
	color: #111;
}

input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 40%;
}

#paraclick {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
}




